
{{> head }}

{{> navbar }}

    <div class="row">

        <div class="class col-8">
            <h1>Código Fuente de Javascript</h1>

            <p>
                JavaScript es un lenguaje de programación interpretado, 
                dialecto del estándar ECMAScript. Se define como orientado 
                a objetos, ​ basado en prototipos, imperativo, débilmente 
                tipado y dinámico.
            </p>
        </div>

        <div class="class col-4">
            <img src="/assets/img/live.code.jpg" alt="Circle of Life" class="img-thumbnail">
        </div>
    </div>


{{> footer }}